@font-face {
    font-family: 'Helvetica Neue';
       src: url('../fonts/HelveticaNeue.eot');
       src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
            url('../fonts/HelveticaNeue.woff') format('woff'),
            url('../fonts/HelveticaNeue.ttf') format('truetype'),
            url('../fonts/HelveticaNeue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
 }