@import 'reset.css';
@import 'fonts.css';

body {
    font-family: 'Helvetica Neue', serif;
    perspective: 500px; 
}

.login-modal-container {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.login-modal-background {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-modal {
    width: 100%; /* for mobile */
    max-width: 360px;
    height: 100%; /* for mobile */
    max-height: 410px;
    box-shadow: 1px 6px 65px rgba(0, 0, 0, 0.22);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    padding-top: 75px;
    position: relative;
}

.login-modal-form {
    padding: 37px 0 47px;
}

.login-modal-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%);
    background-image: url('../img/icons/icon-qcrm.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.login-modal-title {
    font-size: 30px;
    font-weight: 300; 
    text-align: center;
}

.login-modal-title .selected {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.3);
    display: block;
    margin-top: 8px;
}

.login-form-input {
    font-size: 16px;
    padding: 12px;
    background-color: #fff;
    border: 2px solid #636363;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}
.login-form-input:focus {
    outline: none;
    border: 2px solid #3e9ffd;
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.39);
}

.login-form-btn-submit {
    background-color: #3e9ffd;
    padding: 13px;
    border: none;
    color: #fff;
    width: 100%;
    margin-top: 42px;
}

.login-form-input::-webkit-input-placeholder,
.login-form-input::-moz-placeholder,
.login-form-input:-ms-input-placeholder,
.login-form-input:-moz-placeholder { 
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
  }

.login-form-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 13px;
    color: #636363; 
    margin-top: 5px;
}

.login-form-checkbox input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.login-form-checkbox .custom-checkbox {
    width: 12px;
    height: 12px;
    border: 1px solid #3e9ffd;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 8px;
}

.login-form-checkbox input[type="checkbox"]:checked ~ .custom-checkbox {
    background-image: url('../img/icons/custom-checkbox.png');
    border: none;
}
/* 
.slideDown{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;  
    animation-duration: 1s; 
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;  
    transform-style: preserve-3d;                    
}
@keyframes slideDown {
    0% {
        position: absolute;
        height: 5%;
        width: 100%;     
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform: rotateX(-80deg);
    }
    100% {
        transform: rotateX(0deg);
        height: 100%;
    }
 } */